<html>
<head>
<title>assyst Smart Mail template</title>
<!-- Copyright(c) Axios Systems -->
<!-- All Rights Reserved -->
<!-- For V9 templates user TICKET_TYPE_FOR_EMAIL for event type name and EVENT_TYPE_EXT for event types -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<!-- Stylesheet definition -->
	<%= SMEXT_get_html("stylesheet.html") %>
</head>

<body>
<table border="0" align="center" cellpadding="0" cellspacing="0">
	<tr>
		<td valign="bottom">
			<% if #COMP_LOGO > 1 then %>  
			<img src="<%= COMP_LOGO%>" align="center">
			<% end %>
		<b><font size="2">
		<BR>Potential Impact Notice</b></td>
	</tr>
	<tr>
		<td valign="top" class="maintext"><br>
			<p>
					<BR>
					<BR>$TICKET_TYPE_FOR_EMAIL $EVENT_REF regarding item "$ITEM_N" 
					<% if REP_USR_N ~= nil then %>reported by $REP_USR_N <% end %>
					has been logged and may impact you.  We are working to resolve this issue and will keep you informed as we progress.  
					<BR><BR>This call has been summarized as: 
		</td>
	</tr>
	<tr>
		<td valign="top"><br>
<!---- Event Summary ---->
		<%= SMEXT_get_html("event_summary.html") %>
	</td>
	</tr>
	<tr>
		<td><br>
<!-- Event Description -------->
		<%= SMEXT_get_html("event_desc.html") %>
		</td>
	</tr>
	<tr>
		<td class="maintext">
		<BR>If you are currently experiencing a similar issue, please visit our online user self-help website <A HREF="<%=strassystNetURLBase%>">assystNET</A>.

		<p><br>Many thanks,
			<br><%= strServiceDeskName %><br>
		</td>
	</tr>
</table>
</body>
</html>