<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=utf-8">
<html>
<head>
<title>assyst Smart Mail template</title>



	
	
</head>

<body>
<table border="0" align="center" cellpadding="0" cellspacing="0">
	<tr>
		<td valign="bottom">
		<p align="center"><img src="<%=COMP_LOGO%>" align="center"><b><font size="2">
		<BR>$EVENT_TYPE_N_EXT $EVENT_REF has been resolved</b></td>
	</tr>
	<tr>
		<td valign="top" class="maintext"><br>
			<p>
					<BR>
					Dear $AFF_USR_N ,<BR>
					<BR>$EVENT_TYPE_N_EXT $EVENT_REF regarding item &quot;$ITEM_SC&quot; 
					reported by $REP_USR_N, 
					logged on $LOGGED_DATE has been resolved.
<BR><BR> 
					As a valued Service Desk customer, our goal is to provide you with world class service.  
					If you feel this issue has not been resolved satisfactorly, please click the link below and let us know.
					
					<BLOCKQUOTE>
					<A HREF="mailto:reopen@anycorp.com?subject=REOPEN:Event#$EVENT_TYPE_U$EVENT_REF;">&quot;This event has not been resolved to my satisfaction.&quot;</A>
					</BLOCKQUOTE>
					<BR>
The event is summarized as: 
		</td>
	</tr>
	<tr>
		<td valign="top"><br>

		

		</td>
	</tr>
	<tr>
		<td>

		

		</td>
	</tr>
	<tr>
		<td class="maintext">
		<p><br>Many thanks,
			<br><br>
		</td>
	</tr>
</table>
</body>
</html>